/* el orden de los selectores influye en las propiedades que le asignemos 
    si por ejemplo movemos p.texto encima de p.especial, los colores cambiaran
*/
#titulo{
   color: tomato; 
}

p.especial{
    color : mediumseagreen;
}

p.texto {
    color:slateblue;
}

/* en todas nuestras etiquetas div que contengan
 hijos(nietos tataranietos...) de etiqueta p
 en este caso no influye el orden de los selectores de arriba al de abajo porque estamos 
 especificando los selectores dentro de otro */
div p {
    color:aquamarine;
}

div h2,div h3 {
    color:brown;
}

* {
    font-size: 24px;
    color: black;
}

.colorHex{
    /*los colores podran ser rgb hexadecimal o valores hsl  */
            /* rojoverdeazul */
    color: #ff0000;
    /* 
    #f es el mayor valor 
    #ff identifica como los decimales del color, puede tomarse como 9 o 99 
    se puede variar la intensidad del color del segundo digito 
    asignado al color 
    
    */
}

.color{
     /* border: 5px red ridge; */
    /* 
        dotted
        dashed
        solid
        double
        groove - valores que se pueden asignar a objetos tridimensionales
        ridge
        inset
        outsed
        none
        hidden
    */

    border-style: groove ;
    border-color:blue;
    border-radius: 5px;
    border-width: 2em;
    /* 
    1cm no necesriamente sera 1 cm si pasamos a mm (milimetros)
        ch
        em
        cm
        mm
        in 
        pt (puntos)
        pc (1picas son 12 puntos)
        px
    */

}

#fondo {
    /* como debe quedar */
    background-color: rgba(255, 0, 0);
    height: 200px;
    background: #ff0 url('../img/coffee.png') repeat-y center bottom / 100px 100px;

/* como seria separado
    opacity oculta texto y fondo porque era negro 
    pero ahora vemos que el rojo es mas suave y el texto tambien es transparente
    toma el elemento completo y no solo al color en especifico
    */
    /* opacity: 0.3; */
    /* indicando una imagen de fondo
    background-image:url('../img/coffee.png');
    background-repeat: repeat-y;
    /* primer valor es en el eje horizointal el otro es vertical 
    o tambien valores de dimension */
  
    /* background-position: center top; 
    background-size: 100px 100px; */

    /* asignamos alto de imagen */
    /* height: 400px; */

    
}

.margen {
    background-color: chocolate;
    /* top right bottom left */
    /* margin son espacios generados fuera del elemento */
    margin: 15px;
    /* padding son espacios generados dentro del elemento */
    /* quitando valores cambiara la forma del padding */
    padding: 30px 15px 5px;
    /* border esta afuera de pading pero dentro de margin, 
    justo en el medio */
    border: solid 1px black;
    /* asi se puede salir el texto y la idea es que este dentro */
    height: 100px;
    width: 50px;
    /* todo el contenido que no alcanza a mostrarse dentro del elemento 
    lo oculta 
    lo podemos cambiar por scroll y agrega barras laterales, 
    y poder ver el contenido que tiene  */
    overflow: scroll;
    /* un borde pero externo antes del margin*/
    outline: 1px red solid;

}

.text{
    /* si en caso de no ser cargada la primera seguira con la siguiente */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* left es por defecto, justyfy toma todo el ancho disponible*/
    text-align:justify;
    /* ancortag  */
    /* text-decoration: underline ; */
    /* text-decoration: line-through ; */
    text-decoration: overline;
    /* sombreado:
    1erdato: cuanto se mueve a la derecha 
    2do: cuanto se mueve hacia abajo 
    3er da un color de sombra o agregando pixeles para mejorar el difuminado (blur)
    4to el color
    */
    /* este texto aparece por detras  */
    /* text-shadow: 3px 5px blue; */
    /* este contiene blur para difuminar la sombra */
    text-shadow: 3px 5px 5px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}





/* Tabla de portatiles */
.superior {
    border: double; 
    border-color: red blue green black;
}
td,.izq{
    border: 1px solid #000;
}