
#titulo{
   color: tomato; 
}

#aside{
   background-color: tomato;
}
p.especial{
    color : mediumseagreen;
}

p.texto {
    color:slateblue;
}

/* en todas nuestras etiquetas div que contengan
 hijos(nietos tataranietos...) de etiqueta p
 en este caso no influye el orden de los selectores de arriba al de abajo porque estamos 
 especificando los selectores dentro de otro */
div p {
    color:aquamarine;
}

div h2,div h3 {
    color:brown;
}

* {
    font-size: 24px;
    /* se deshabilita para colocar colores a los links */
    color: black;
}

.colorHex{
    /*los colores podran ser rgb hexadecimal o valores hsl  */
            /* rojoverdeazul */
    color: #ff0000;
   
}

.color{
    border-style: groove ;
    border-color:blue;
    border-radius: 5px;
    border-width: 2em;

}

#fondo {
    background-color: rgba(255, 0, 0);
    height: 200px;
    background: #ff0 url('../img/coffee.png') repeat-y center bottom / 100px 100px;

}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px red solid;
}

.text{
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}

/* links */
a:link{
    color:blueviolet;
}
a:visited{
    color:gray;
}
a:hover{
    color: black;
}
/* cuando pincho el link */
a:active{
    color: red;
}

ul {
    background-color: cyan;
    list-style-type: none;
    
    /* padding-left: 0; */
    /* list-style-position: inside; */

}

table {
    width: 100%;
    /* eliminando espacio entre celdas */
    border-collapse: collapse;
}

th,td{
    border: solid 1px #eee;
    padding: 5px;

}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
/* seleccionar elementos sean pares o impares 
dependiendo si esta en un listado o una tabla, dando colores a cada celda par o impar  
odd = par 
even = impar*/
tr:nth-child(even){
    background-color: #eee;

}

tr:hover{
    background-color: #aaa;
    cursor: pointer;
}

span{
    /* 
        block: todo el ancho }
        inline-block: solo el contenido del elemento
    */
    display: block;
    max-width: 300px;
    background-color: #f00;
    /* display:none; */
    /* visibility: hidden; */
}

.inline{
    display: inline-block;
}

#position {
    /* valor por defecto static, vienen todos los elementos de html 
    relative: es una posicion relativa a donde debiese estar posicionado este elemento
    fixed: dice que tiene que tener una posicion con respecto a lo que se esta viendo en el explorador

    */
    position: sticky;
    top: 5px;
}

.left{
    float: left;
    width:200px;
    height: 200px;
    background-color: red;
}
.container{
    height: 200px;
    /* background-color: #aaa; */
}

.right { 
    float:right;
    /* background-color: green; */
}

.column{
    /* aniguamente se usaba para asignar columnas de esta manera */
    border:solid 0px #ddd;
    border-radius: 5px;
    margin: 0 ;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}

.center{
    padding: 50px 0;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}

/* aqui termina el css basico  */


/* aqui inicia micss */
button a{
    text-decoration: none;
}
.blogButton:hover{
    background-color: aqua;
    border-radius: 20px;
}

/* 
.right{
    float:right;
} */
/* Tabla de portatiles */
/* .superior {
    border: double; 
    border-color: red blue green black;
}
td,.izq{
    border: 1px solid #000;
} */
